$blue: #59626A ; 
$black-1:#262626;
$grey: #8A8F9C;
$purple: #7C60FF;
$green: #42B72A;
$white: #F5F6F7;
$sky-blue: #168EEA ;
$fade-blue: #8A8F9C ;
$header : 40px; 
$regular: 14px;
$regular2 :18px;
$small:12px;
